<div class="container" align="center">
	<div class="logo">
		<img src="/assets/logo.png">
	</div>
</div>
<div class="blue-border"></div>
<div class="container" align="center">
	<div class="form-box">
		<div class="form-title">
			Congratulations! You are eligible for Benefits and will be contacted by a Disability Attorney shortly. This consultation is completely free and non-binding.
			<br><br><br>
			<a class="download-guide" href="https://s3.amazonaws.com/ss-guide/Disability+Guide.pdf" target="_blank"> Download Your Guide! </a>
		</div>
	</div>
	<div>
		<a href="http://delta.rspcdn.com/xprr/red/PID/2034/SID/sid_here"><img src="http://disabilitylegalnetwork.com/wp-content/uploads/2013/07/MKT_RevenMedia_NewLoanMatch_Creative.png" alt="Loan Match" width="981" height="491" class="alignnone size-full wp-image-129" /></a>
		<img src="http://www.rsptrack.com/impression.track?CID=257922&AFID=277387" height="1" width="1" />
	</div>
</div>


<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6008936303741';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6008936303741&amp;value=0&amp;currency=USD" /></noscript>