<div class="container" align="center">
	<div class="logo">
		<img src="/assets/logo.png">
	</div>
</div>
<div class="blue-border"></div>
<div class="container" align="center">
	<div class="form-box">
		<div class="form-title">
			Free Social Security Disability Case Evaluation
		</div>
		<div class="progress-bar">
			<img src="/assets/progressbar3.png">
		</div>
		<%= form_for @user, :html => {:id => "extraform"} do |f| %>
			<span id="debt">Do you need help paying off debts?</span>
			<br>
			<%= f.select :debt, options_for_select(debt_options), :include_blank => true %>
			<span class="checkimg" id="debtcheck"><img src="/assets/check.png"></span>
			<div class="message" id="debt_error"></div>
			<span id="loan">Do you need help paying off student loans?</span>
			<br>
			<%= f.select :loan, options_for_select(loan_options), :include_blank => true %>
			<span class="checkimg" id="loancheck"><img src="/assets/check.png"></span>
			<div class="message" id="loan_error"></div>
			<%= f.submit "Do I Qualify?", :class => "home-submit" %>
		<% end %>
	</div>
<div class="testimonial">
		<div class="testimonial-title">
			About Us:
		</div>
		<hr>
		<div class="testimonial-body">
			Since 2008, we have been helping individuals facing a legal issue find licensed, local attorneys that can help resolve their legal matters. We help over 50,000 consumers every month and our service is provided to you completely and 100% free of charge.
		</div>
		<span class="bbb"><img src="/assets/bbb.png"></span>
		<span class="trustlink"><img src="/assets/trustlink.png"></span>
	</div>
	<div class="seenin">
		<div class="seenintitle">
			Seen In:
		</div>
		<img src="/assets/seenin.png">
	</div>
</div>
<div class="footer">
	<div class="container" align="right">
		<div class="disclaimer">
			<div class="privacy">
				<a style="color:white;padding-right:20px" href="/privacy"> Privacy Policy</a>
				<a style="color:white;" href="/terms"> Terms of Use </a>
			</div>
		</div>
	</div>
</div>	

<script type="text/javascript">
	$('select#user_loan').bind('click change',function() {
		if ($('#user_loan').val() != "") {
			$('#loancheck img').show();
			$('#loan_error').empty();
		}
		if ($('#user_loan').val() == "") {
			$('#loancheck img').hide();
			$('#loan_error').empty().append("Please select an option");
		}
	});

	$('select#user_debt').bind('click change',function() {
		if ($('#user_debt').val() != "") {
			$('#debtcheck img').show();
			$('#debt_error').empty();
		}
		if ($('#user_debt').val() == "") {
			$('#debtcheck img').hide();
			$('#debt_error').empty().append("Please select an option");
		}
	});
	$('.home-submit').click(function(event){
		if ($('#user_debt').val() == "") {
			event.preventDefault();
			$('#debtcheck img').hide();
			$('#debt_error').empty().append("Please select an option");
		}
		if ($('#user_loan').val() == "") {
			event.preventDefault();
			$('#loancheck img').hide();
			$('#loan_error').empty().append("Please select an option");
		}
	});
</script>